
    html, body {
    height: 100%;
    margin: 0;
    }
    body {
    font-family: 'Montserrat', sans-serif;
    }

    header {
    
    background-color: #1f0181;
    color: rgb(60, 0, 255);
    text-align: center;
    }

    header p {
    padding-bottom: 12px;
    padding-top: 5px;
    color: #5e3688;
    }

    p {
    text-align: center;
    color: black;
    margin-top: 5px;
    }

    h1 {
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 0.0rem;
    }

    h2 {
    text-align: center;
    color: rgb(0, 0, 0);
    margin-bottom: 0;
    }


    table {
        border: 17px ridge rgba(146, 96, 53, 0.601); 
        background-color:#d5c583d5;
        text-align:center;
        padding-left: 3rem; 
        padding-right: 3rem; 
        padding-top: 0rem;
        padding-bottom: 0rem;
        margin:auto
    }

    th, td {
        padding: 8px;
    }

    footer {
    background: #000000;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    }

    footer a {
    color:#77e2fa;
    text-decoration: none; 
    }

    footer a:hover {
    text-decoration: underline;
    }

    nav {
    font-family: sans-serif;
    font-weight: bold;
    background: #1f0181;
    text-align: center;
    padding-bottom: 0rem;
    }

    nav ul {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    }

    nav a {
    text-decoration: none;
    color: white;
    padding: 1.2rem;
    display: block;
    }

    nav a:hover {
    background: #1976d275;
    text-decoration: underline;
    padding-bottom: 0.7rem;
    padding-top: 1rem;
    }

    nav a.active {
    background: #1976d2;
    }

    .box {
    text-align: center;
    border: 10px solid;
    padding: 50px;
    margin: 20px;
    width: 400px;
    }

    .alternate {
    box-sizing: border-box;
    width: 520px;
    }